<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <meta content="text/html;charset=UTF-8"/>
    <title sec:authentication="name"></title>
    <style type="text/css">
        body {
            padding-top: 50px;
        }
        .starter-template {
            padding: 40px 15px;
            text-align: center;
        }
        .inputButton{
            padding: 5px 10px;
            margin: 0 20px;
        }
    </style>
    <script type="text/javascript" src="js/jquery-3.3.1.js" th:src="@{/js/jquery-3.3.1.js}"></script>
    <script type="text/javascript" src="js/jsonFormater.js" th:src="@{/js/jsonFormater.js}"></script>
    <link href="css/jsonFormater.css" type="text/css" rel="stylesheet" th:href="@{/css/jsonFormater.css}"/>
</head>
<body>
<!-- 参考原文链接: https://blog.csdn.net/u012373815/article/details/54632176-->
<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">sampleRestFulCRUD演示</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li><a th:href="@{/home}"> 首页 </a></li>
                <li><a href="#"> restFUl crud demo </a></li>
            </ul>
        </div><!--/.nav-collapse -->
    </div>
</nav>


<div class="container">

    <div class="starter-template">
        <hr/>
        <input class="inputButton" value="post请求" id="post" type="button"/>
        <input class="inputButton" value="get请求" id="get" type="button"/>
        <input class="inputButton" value="put请求" id="put" type="button"/>
        <input class="inputButton" value="patch请求" id="patch" type="button"/>
        <input class="inputButton" value="delete请求" id="delete" type="button"/>
        <input class="inputButton" value="错误请求" id="error" type="button"/>
        <hr/>
    </div>
    <div style="margin: 0 auto;width: 80%;">
        <div style="width:100%;">
            <span style="display:inline-block;width: 48%;"><span style="margin-left:30px;color: #0000FF; ">ajax:</span></span>
            <span style="display:inline-block;width: 50%;color: #0000FF;">返回数据:</span>
        </div>
        <div style="width: 40%;padding: 4%;float: left;" id="leftDiv">
            <textarea id="textarea" style="height: 400px;width: 100%;border: 0px;"></textarea>
        </div>
        <div style="width: 40%;padding: 4%;float: left;" id="rightDiv">

        </div>
    </div>

</div>

<script>
    $(".inputButton").click(function () {
        $(".inputButton").css({"background-color":"white","color":"black"});
        $(this).css({"background-color":"black","color":"white"});
    });
    function requestForUser(restType) {
        var type='GET';
        var url='user';
        var data=new Object();
        var options = {
            dom : $("#rightDiv") //对应容器的css选择器
        };
        var jf = new JsonFormatter(options); //创建对象
        if(restType == 'post'){
            $("#textarea").text("$.ajax(\n"
                                + "            {\n"
                                + "                url : 'user'\n"
                                + "                ,data : JSON.stringify(data)\n"
                                + "                ,type : 'POST'\n"
                                + "                ,contentType : 'application/json'\n"
                                + "                ,success : function(result){\n"
                                + "                    jf.doFormat(result);\n"
                                + "                }\n"
                                + "            }\n"
                                + "        );");
            type='POST';
            data['id']=1;
            data['username']='admin用户';
            data['password']='aa123';
            data['roles']=new Array();
        }else if(restType == 'put'){
            $("#textarea").text("$.ajax(\n"
                                + "            {\n"
                                + "                url : 'user/1'\n"
                                + "                ,data : JSON.stringify(data)\n"
                                + "                ,type : 'PUT'\n"
                                + "                ,contentType : 'application/json'\n"
                                + "                ,success : function(result){\n"
                                + "                    jf.doFormat(result);\n"
                                + "                }\n"
                                + "            }\n"
                                + "        );");
            type='PUT';
            data['id']=2;
            data['username']='put之后的用户';
            data['password']='aa123';
            data['roles']=new Array();
            url +='/1';
        }else if(restType == 'patch'){
            $("#textarea").text("$.ajax(\n"
                                + "            {\n"
                                + "                url : 'user/1'\n"
                                + "                ,data : JSON.stringify(data)\n"
                                + "                ,type : 'PATCH'\n"
                                + "                ,contentType : 'application/json'\n"
                                + "                ,success : function(result){\n"
                                + "                    jf.doFormat(result);\n"
                                + "                }\n"
                                + "            }\n"
                                + "        );");
            data['username']='新的用户名';
            type='PATCH';
            url +='/1';
        }else if(restType == 'delete'){
            $("#textarea").text("$.ajax(\n"
                                + "            {\n"
                                + "                url : 'user/1'\n"
                                + "                ,data : JSON.stringify(data)\n"
                                + "                ,type : 'DELETE'\n"
                                + "                ,contentType : 'application/json'\n"
                                + "                ,success : function(result){\n"
                                + "                    jf.doFormat(result);\n"
                                + "                }\n"
                                + "            }\n"
                                + "        );");
            type='DELETE';
            url +='/1';
        }else if(restType == 'get'){
            $("#textarea").text("$.ajax(\n"
                                + "                {\n"
                                + "                    url : 'user/1'\n"
                                + "                    ,type : 'GET'\n"
                                + "                    ,contentType : 'application/json'\n"
                                + "                    ,success : function(result){\n"
                                + "                        jf.doFormat(result); \n"
                                + "                    }\n"
                                + "                }\n"
                                + "            );");
            type='GET';
            url +='/1';
            $.ajax(
                {
                    url:url
                    ,type:type
                    ,contentType:'application/json'
                    ,success:function(result){
                        jf.doFormat(result); //格式化json
                    }
                }
            );
            return;
        }else if(restType == 'error'){
            $("#textarea").text("各种错误!!!");
            type='GET';
            $.ajax(
                {
                    url:'error'
                    ,type:type
                    ,contentType:'application/json'
                    ,success:function(result){
                        jf.doFormat(result); //格式化json
                    }
                }
            );
            return;
        }

        $.ajax(
            {
                url:url
                ,data:JSON.stringify(data)
                ,type:type
                ,contentType:'application/json'
                ,success:function(result){
                    jf.doFormat(result);//格式化json
                }
            }
        );
    }
    $("#get").click(function () {
        requestForUser('get');
    });
    $("#post").click(function () {
        requestForUser('post');
    });
    $("#put").click(function () {
        requestForUser('put');
    });
    $("#patch").click(function () {
        requestForUser('patch');
    });
    $("#delete").click(function () {
        requestForUser('delete');
    });
    $("#error").click(function () {
        requestForUser('error');
    });

</script>



</body>
</html>
